<template name="adminLogin">
  <div class="app container-fluid">
    <h2>Speak Friend and Enter</h2>
    {{> loginButtons}}
    <p>&hellip; or <a href="http://elias-kuiter.de">leave</a>.</p>
  </div>
</template>

<template name="adminCategoriesProjectsColumn">
  {{projects}}
</template>

<template name="adminProjectsCategoriesColumn">
  {{value.title}}
</template>

<template name="adminPicturesFilenameColumn">
  <a href="{{doc.url store="large"}}" target="_blank">{{value}}</a>
</template>

<template name="adminPicturesProjectColumn">
  {{project}}
</template>

<template name="adminPicturesActionsColumn">
  <a class="hidden-xs btn btn-xs btn-danger btn-delete">
    <i class="fa fa-times"></i>
  </a>
</template>