<template name="adminLogin">
  <div class="app container-fluid">
    <h2>Speak Friend and Enter</h2>
    {{> loginButtons}}
    <p>&hellip; or <a href="http://elias-kuiter.de">leave</a>.</p>
  </div>
</template>

<template name="adminCategoriesProjectsColumn">
  {{projects}}
</template>

<template name="adminProjectsCategoriesColumn">
  {{value.title}}
</template>

<template name="adminPicturesFilenameColumn">
  <a href="{{doc.url store="large"}}" target="_blank">{{value}}</a>
</template>

<template name="adminPicturesProjectColumn">
  {{project}}
</template>

<template name="adminPicturesActionsColumn">
  <a data-action="rename" class="hidden-xs btn btn-xs btn-primary">
    <i class="fa fa-pencil"></i>
  </a>
  <a data-action="remove" class="hidden-xs btn btn-xs btn-danger btn-delete">
    <i class="fa fa-times"></i>
  </a>
</template>

<template name="adminPicturesNew">
  <div class="box box-default">
    <div class="box-body">
        {{#autoForm id="admin_insert" collection="Projects" type="insert"}}
          {{> afQuickField name="imageIds"}}
        {{/autoForm}}
    </div>
  </div>
</template>

<template name="adminDatabaseWidget">
  <div class="{{#if class}}{{class}}{{else}}col-lg-3 col-xs-6{{/if}}">
    <a href="#">
      <div class="small-box bg-{{color}}">
        <div class="inner">
          <h3>
            {{formatBytes stats.dataSize}} MB
          </h3>
          <p>
            {{label}}
          </p>
        </div>
        <div class="icon">
          <i class="fa fa-{{icon}}"></i>
        </div>
        <a class="small-box-footer">
          {{formatBytes stats.fileSize}} / {{maxSize}} MB used <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>
    </a>
  </div>
</template>